@media only screen and (max-width: 1360px) {
  .main-wrapper23512 {
    width: 100%;
    position: relative;
  }
  .main-wrapper23512 .menu-static {
    position: static;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main-wrapper23512 .menu-static .menu-wrap {
    flex-direction: row;
    display: flex;
    height: 100%;
  }
  .main-wrapper23512 .header-wrap {
    position: static;
    height: 400px;
    width: 100%;
    background: #000;
  }
}
