@media only screen and (max-width: 1360px) {
  .header-container423424 {
    height: 700px;
    width: 100%;
    position: relative;
    font-family: 'Oxygen', sans-serif !important;
  }
  .header-container423424 .header-wrap095145 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/image-items/header_bg2.png');
    background-size: 100% 100%;
    background-position: top bottom;
    flex-direction: column;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-container423424 .header-wrap095145 .menu-container {
    width: 600px;
    height: 65px;
    flex-direction: row;
    display: flex;
    margin-top: 50px;
    border-width: 4px;
    border-style: solid;
    border-color: #2e2b34;
    position: relative;
    z-index: 2;
  }
  .header-container423424 .header-wrap095145 .menu-container .menu-wrap {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .header-container423424 .header-wrap095145 .menu-container .menu-wrap div {
    height: 100%;
    flex-direction: column;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-container423424 .header-wrap095145 .menu-container .padding-right {
    padding-right: 30px;
  }
  .header-container423424 .header-wrap095145 .menu-container .padding-left {
    padding-left: 30px;
  }
  .header-container423424 .header-wrap095145 .menu-container .logo-wrap {
    width: 400px;
    flex-direction: row;
    display: flex;
    height: 100%;
    background: #2e2b34;
  }
  .header-container423424 .header-wrap095145 .menu-container .logo-wrap .wrap-logo {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
  }
  .header-container423424 .header-wrap095145 .menu-container .logo-wrap .wrap-logo .logo-text {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: normal;
    font-size: 1.5em;
  }
  .header-container423424 .header-wrap095145 .welcome-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
  }
  .header-container423424 .header-wrap095145 .welcome-container .title {
    font-size: 1.9em;
    line-height: 100px;
    color: #fff;
  }
  .header-container423424 .header-wrap095145 .welcome-container .btn-more {
    margin: 20px;
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.01em;
    border-radius: 3px;
  }
  .body-container1728352 {
    height: auto;
    width: 100%;
    position: relative;
    font-family: 'Oxygen', sans-serif !important;
  }
  .body-container1728352 .body-wrap {
    position: relative;
    width: 100%;
    height: 500px;
    background: #282828;
    flex-direction: column;
    display: flex;
  }
  .body-container1728352 .body-wrap .what-job-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .desk-job-title {
    width: 700px;
    text-align: center;
    color: #BDBDBD;
    font-size: 1.09em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .skill-wrap-title {
    flex-direction: row;
    display: flex;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .app-item {
    background: url('../images/image-items/app_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .web-item {
    background: url('../images/image-items/web_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .brand-item {
    background: url('../images/image-items/brand_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .skill-item {
    margin: 20px;
    width: 200px;
    height: 200px;
  }
  .body-container1728352 .body-wrap2433612 {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    display: table;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    display: table-cell;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .title-component {
    font-size: 1.9em;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .deskrip-component {
    margin: 0 auto;
    display: block;
    font-size: 1.09em;
    max-width: 600px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper {
    margin: 0 auto;
    display: table;
    height: auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item {
    padding: 10px;
    width: 24.9%;
    height: auto;
    vertical-align: top;
    display: table-cell;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 {
    width: 100%;
    height: auto;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .plus-icn {
    vertical-align: top;
    display: table-cell;
    background: url('../images/image-items/plus.png') no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .text-comp {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #2e2b34;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 {
    padding-top: 10px;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 .text-comp {
    padding-left: 30px;
    display: table-cell;
    text-align: left;
    font-size: 0.8em;
    line-height: 25px;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg3 {
    width: 175px;
    height: 5px;
    background: blue;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg-abs {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #2e2b34;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
  }
  .body-container1728352 .image-wrap23424 {
    width: 100%;
    position: relative;
    display: table;
    height: auto;
    background: #ff0;
    overflow-x: hidden;
  }
  .body-container1728352 .image-wrap23424 .image-item {
    height: 250px;
    display: table-cell;
    background-size: 250!important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 450px;
    overflow-x: hidden;
  }
  .body-container1728352 .carousel-wrap .item {
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 450px;
    background-size: 450 !important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    display: table;
    text-align: center;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap {
    vertical-align: middle;
    display: table-cell;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap .navi-item {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    background: red;
    height: 10px;
  }
  .body-container1728352 .email-wrap {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #282828;
  }
  .body-container1728352 .email-wrap .email-form {
    width: 100%;
    max-width: 1029px;
    display: block;
    height: 100%;
    margin: 0 auto;
    display: table;
    position: relative;
  }
  .body-container1728352 .email-wrap .email-form .table-cell {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .table-cell2 {
    display: table-cell;
    height: 100px;
    width: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .centering {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .body-container1728352 .email-wrap .email-form .centering .text1 {
    display: block;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .text2 {
    display: block;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: #2196F3;
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email:focus {
    outline: none;
    color: #2196F3;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-webkit-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-moz-placeholder {
    /* older Firefox*/
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-moz-placeholder {
    /* Firefox 19+ */
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-ms-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .btn-suscribe {
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    font-size: 1.01em;
    width: 147px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap {
    height: 100%;
    width: 250px;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap2 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap3 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .info-wrap {
    width: 100%;
    position: relative;
    display: block;
  }
  .body-container1728352 .info-wrap .info-content {
    display: table;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    max-width: 1029px;
    text-align: left;
  }
  .body-container1728352 .info-wrap .info-content .twitter-wrap {
    width: 50%;
    display: table-cell;
    height: 100%;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap {
    padding-left: 30px;
    width: 50%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-normal {
    margin: 20px;
    font-size: 1.9em;
    font-weight: bold;
    color: #282828;
    display: block;
    line-height: 36px;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-big {
    margin: 20px;
    display: block;
    font-size: 3.5em;
    font-weight: bold;
    color: #282828;
  }
  .body-container1728352 .created-wrap {
    width: 100%;
    display: table;
    height: 75px;
    background: #2e2b34;
    text-align: center;
  }
  .body-container1728352 .created-wrap .create-content {
    display: table-cell;
    vertical-align: middle;
  }
  .body-container1728352 .created-wrap .create-content span {
    font-weight: bold;
    color: #80868c;
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 895px) {
  .header-container423424 {
    position: relative;
    height: 700px;
    background: url('../images/image-items/header_bg2.png');
    background-size: 100% 100%;
    background-position: top bottom;
  }
  .header-container423424 .header-wrap095145 {
    display: none;
  }
  .header-container423424 .header-wrap-menu2312834 {
    position: absolute;
    padding: 10px;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-mobile-menu {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    position: relative;
    background: transparent;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-mobile-menu .icon-menu {
    cursor: pointer;
    background: url('../images/image-items/menu.png') no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu {
    display: block;
    height: auto;
    width: 100%;
    max-width: 700px;
    position: relative;
    margin-left: auto;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu {
    width: 100%;
    height: 500px;
    display: none;
    margin-left: auto;
    text-align: right;
    background: #282828;
    opacity: 0.9;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu .content-menu-cell {
    display: table-cell;
    vertical-align: top;
    padding: 30px;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu .content-menu-cell .menu-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 1.9em;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
  }
  .header-container423424 .header-wrap-bg23234234 {
    position: absolute;
    padding: 10px;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome {
    position: relative;
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome {
    display: table-cell;
    vertical-align: middle;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container .title {
    font-size: 2.5em;
    line-height: 59px;
    color: #fff;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container .btn-more {
    margin: 20px;
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    border-radius: 3px;
  }
  .body-container1728352 {
    height: auto;
    width: 100%;
    position: relative;
    font-family: 'Oxygen', sans-serif !important;
  }
  .body-container1728352 .body-wrap {
    position: relative;
    width: 100%;
    height: 500px;
    background: #282828;
    flex-direction: column;
    display: flex;
  }
  .body-container1728352 .body-wrap .what-job-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .desk-job-title {
    width: 700px;
    text-align: center;
    color: #BDBDBD;
    font-size: 1.09em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .skill-wrap-title {
    flex-direction: row;
    display: flex;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .app-item {
    background: url('../images/image-items/app_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .web-item {
    background: url('../images/image-items/web_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .brand-item {
    background: url('../images/image-items/brand_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .skill-item {
    margin: 20px;
    width: 200px;
    height: 200px;
  }
  .body-container1728352 .body-wrap2433612 {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    display: table-cell;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .title-component {
    font-size: 1.9em;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .deskrip-component {
    margin: 0 auto;
    display: block;
    font-size: 1.09em;
    max-width: 600px;
    width: 100%;
    padding: 0;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper {
    margin: 0 auto;
    display: block;
    height: auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item {
    margin-bottom: 30px;
    padding: 10px;
    width: 30.9%;
    height: auto;
    vertical-align: top;
    display: inline-block;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp {
    display: block;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0 auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 {
    width: 100%;
    height: auto;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .plus-icn {
    vertical-align: top;
    display: table-cell;
    background: url('../images/image-items/plus.png') no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .text-comp {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #2e2b34;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 {
    padding-top: 10px;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 .text-comp {
    padding-left: 30px;
    display: table-cell;
    text-align: left;
    font-size: 0.8em;
    line-height: 25px;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg3 {
    width: 175px;
    height: 5px;
    background: blue;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg-abs {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #2e2b34;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
  }
  .body-container1728352 .image-wrap23424 {
    width: 100%;
    position: relative;
    display: table;
    height: auto;
    background: #ff0;
    overflow-x: hidden;
  }
  .body-container1728352 .image-wrap23424 .image-item {
    height: 250px;
    display: table-cell;
    background-size: 250!important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 450px;
    overflow-x: hidden;
  }
  .body-container1728352 .carousel-wrap .item {
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 450px;
    background-size: 450 !important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    display: table;
    text-align: center;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap {
    vertical-align: middle;
    display: table-cell;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap .navi-item {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    background: red;
    height: 10px;
  }
  .body-container1728352 .email-wrap {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #282828;
  }
  .body-container1728352 .email-wrap .email-form {
    width: 100%;
    max-width: 1029px;
    display: block;
    height: 100%;
    margin: 0 auto;
    display: table;
    position: relative;
  }
  .body-container1728352 .email-wrap .email-form .table-cell {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .table-cell2 {
    display: table-cell;
    height: 100px;
    width: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .centering {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .body-container1728352 .email-wrap .email-form .centering .text1 {
    display: block;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .text2 {
    display: block;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: #2196F3;
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email:focus {
    outline: none;
    color: #2196F3;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-webkit-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-moz-placeholder {
    /* older Firefox*/
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-moz-placeholder {
    /* Firefox 19+ */
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-ms-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .btn-suscribe {
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    font-size: 1.01em;
    width: 147px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap {
    height: 100%;
    width: 250px;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap2 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap3 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .info-wrap {
    width: 100%;
    position: relative;
    display: block;
  }
  .body-container1728352 .info-wrap .info-content {
    display: table;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    max-width: 1029px;
    text-align: left;
  }
  .body-container1728352 .info-wrap .info-content .twitter-wrap {
    width: 50%;
    display: table-cell;
    height: 100%;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap {
    padding-left: 30px;
    width: 50%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-normal {
    margin: 20px;
    font-size: 1.9em;
    font-weight: bold;
    color: #282828;
    display: block;
    line-height: 36px;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-big {
    margin: 20px;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    color: #282828;
  }
  .body-container1728352 .created-wrap {
    width: 100%;
    display: table;
    height: 75px;
    background: #2e2b34;
    text-align: center;
  }
  .body-container1728352 .created-wrap .create-content {
    display: table-cell;
    vertical-align: middle;
  }
  .body-container1728352 .created-wrap .create-content span {
    font-weight: bold;
    color: #80868c;
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 695px) {
  .header-container423424 {
    position: relative;
    height: 700px;
    background: url('../images/image-items/header_bg2.png');
    background-size: 100% 100%;
    background-position: top bottom;
  }
  .header-container423424 .header-wrap095145 {
    display: none;
  }
  .header-container423424 .header-wrap-menu2312834 {
    position: absolute;
    padding: 10px;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-mobile-menu {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    position: relative;
    background: transparent;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-mobile-menu .icon-menu {
    cursor: pointer;
    background: url('../images/image-items/menu.png') no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu {
    display: block;
    height: auto;
    width: 100%;
    max-width: 700px;
    position: relative;
    margin-left: auto;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu {
    width: 100%;
    height: 500px;
    display: none;
    margin-left: auto;
    text-align: right;
    background: #282828;
    opacity: 0.9;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu .content-menu-cell {
    display: table-cell;
    vertical-align: top;
    padding: 30px;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu .content-menu-cell .menu-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 1.9em;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
  }
  .header-container423424 .header-wrap-bg23234234 {
    position: absolute;
    padding: 10px;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome {
    position: relative;
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome {
    display: table-cell;
    vertical-align: middle;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container .title {
    font-size: 2.5em;
    color: #fff;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container .btn-more {
    margin: 20px;
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    border-radius: 3px;
  }
  .body-container1728352 {
    height: auto;
    width: 100%;
    position: relative;
    font-family: 'Oxygen', sans-serif !important;
  }
  .body-container1728352 .body-wrap {
    position: relative;
    width: 100%;
    height: 500px;
    background: #282828;
    flex-direction: column;
    display: flex;
  }
  .body-container1728352 .body-wrap .what-job-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .desk-job-title {
    width: 700px;
    text-align: center;
    color: #BDBDBD;
    font-size: 1.09em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .skill-wrap-title {
    flex-direction: row;
    display: flex;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .app-item {
    background: url('../images/image-items/app_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .web-item {
    background: url('../images/image-items/web_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .brand-item {
    background: url('../images/image-items/brand_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .skill-item {
    margin: 20px;
    width: 200px;
    height: 200px;
  }
  .body-container1728352 .body-wrap2433612 {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    display: table-cell;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .title-component {
    font-size: 1.9em;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .deskrip-component {
    margin: 0 auto;
    display: block;
    font-size: 1.09em;
    max-width: 600px;
    width: 100%;
    padding: 0;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper {
    margin: 0 auto;
    display: block;
    height: auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item {
    margin-bottom: 30px;
    padding: 10px;
    width: 39.9%;
    height: auto;
    vertical-align: top;
    display: inline-block;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp {
    display: block;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0 auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 {
    width: 100%;
    height: auto;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .plus-icn {
    vertical-align: top;
    display: table-cell;
    background: url('../images/image-items/plus.png') no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .text-comp {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #2e2b34;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 {
    padding-top: 10px;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 .text-comp {
    padding-left: 30px;
    display: table-cell;
    text-align: left;
    font-size: 0.8em;
    line-height: 25px;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg3 {
    width: 175px;
    height: 5px;
    background: blue;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg-abs {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #2e2b34;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
  }
  .body-container1728352 .image-wrap23424 {
    width: 100%;
    position: relative;
    display: table;
    height: auto;
    background: #ff0;
    overflow-x: hidden;
  }
  .body-container1728352 .image-wrap23424 .image-item {
    height: 250px;
    display: table-cell;
    background-size: 250!important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 450px;
    overflow-x: hidden;
  }
  .body-container1728352 .carousel-wrap .item {
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 450px;
    background-size: 450 !important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    display: table;
    text-align: center;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap {
    vertical-align: middle;
    display: table-cell;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap .navi-item {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    background: red;
    height: 10px;
  }
  .body-container1728352 .email-wrap {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #282828;
  }
  .body-container1728352 .email-wrap .email-form {
    width: 100%;
    max-width: 1029px;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .body-container1728352 .email-wrap .email-form .table-cell {
    display: inline-block;
    height: 100px;
    width: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .table-cell2 {
    display: inline-block;
    height: 100px;
    width: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .centering {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .body-container1728352 .email-wrap .email-form .centering .text1 {
    display: block;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .text2 {
    display: block;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: #2196F3;
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email:focus {
    outline: none;
    color: #2196F3;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-webkit-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-moz-placeholder {
    /* older Firefox*/
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-moz-placeholder {
    /* Firefox 19+ */
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-ms-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .btn-suscribe {
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    font-size: 1.01em;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap2 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap3 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .info-wrap {
    width: 100%;
    position: relative;
    display: block;
  }
  .body-container1728352 .info-wrap .info-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1029px;
    text-align: left;
  }
  .body-container1728352 .info-wrap .info-content .twitter-wrap {
    width: 100%;
    display: inline-block;
    height: 300px;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap {
    padding-left: 0;
    width: 100%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-normal {
    margin: 20px;
    font-size: 1.9em;
    font-weight: bold;
    color: #282828;
    display: block;
    line-height: 36px;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-big {
    margin: 20px;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    color: #282828;
  }
  .body-container1728352 .created-wrap {
    width: 100%;
    display: table;
    height: 75px;
    background: #2e2b34;
    text-align: center;
  }
  .body-container1728352 .created-wrap .create-content {
    display: table-cell;
    vertical-align: middle;
  }
  .body-container1728352 .created-wrap .create-content span {
    font-weight: bold;
    color: #80868c;
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 480px) {
  .header-container423424 {
    position: relative;
    height: 700px;
    background: url('../images/image-items/header_bg2.png');
    background-size: 100% 100%;
    background-position: top bottom;
  }
  .header-container423424 .header-wrap095145 {
    display: none;
  }
  .header-container423424 .header-wrap-menu2312834 {
    position: absolute;
    padding: 10px;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-mobile-menu {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    position: relative;
    background: transparent;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-mobile-menu .icon-menu {
    cursor: pointer;
    background: url('../images/image-items/menu.png') no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu {
    display: block;
    height: auto;
    width: 100%;
    max-width: 700px;
    position: relative;
    margin-left: auto;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu {
    width: 100%;
    height: 500px;
    display: none;
    margin-left: auto;
    text-align: right;
    background: #282828;
    opacity: 0.9;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu .content-menu-cell {
    display: table-cell;
    vertical-align: top;
    padding: 30px;
  }
  .header-container423424 .header-wrap-menu2312834 .wrap-content-menu .content-menu .content-menu-cell .menu-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 1.9em;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
  }
  .header-container423424 .header-wrap-bg23234234 {
    position: absolute;
    padding: 10px;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome {
    position: relative;
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome {
    display: table-cell;
    vertical-align: middle;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container .title {
    font-size: 2.5em;
    color: #fff;
  }
  .header-container423424 .header-wrap-bg23234234 .wrap-welcome .content-welcome .welcome-container .btn-more {
    margin: 20px;
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    border-radius: 3px;
  }
  .body-container1728352 {
    height: auto;
    width: 100%;
    position: relative;
    font-family: 'Oxygen', sans-serif !important;
  }
  .body-container1728352 .body-wrap {
    position: relative;
    width: 100%;
    height: 500px;
    background: #282828;
    flex-direction: column;
    display: flex;
  }
  .body-container1728352 .body-wrap .what-job-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .desk-job-title {
    width: 700px;
    text-align: center;
    color: #BDBDBD;
    font-size: 1.09em;
    padding: 20px;
  }
  .body-container1728352 .body-wrap .skill-wrap-title {
    flex-direction: row;
    display: flex;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .app-item {
    background: url('../images/image-items/app_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .web-item {
    background: url('../images/image-items/web_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .brand-item {
    background: url('../images/image-items/brand_img.png') no-repeat;
    background-size: 100%;
  }
  .body-container1728352 .body-wrap .skill-wrap-title .skill-item {
    margin: 20px;
    width: 100px;
    height: 100px;
  }
  .body-container1728352 .body-wrap2433612 {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    display: table-cell;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg {
    display: block;
    margin: 0 auto;
    width: 86%;
    height: auto;
    margin-bottom: 50px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .title-component {
    font-size: 1.9em;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .deskrip-component {
    margin: 0 auto;
    display: block;
    font-size: 1.09em;
    max-width: 600px;
    width: 100%;
    padding: 0;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper {
    margin: 0 auto;
    display: block;
    height: auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item {
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    height: auto;
    vertical-align: top;
    display: inline-block;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp {
    display: block;
    width: 70%;
    height: auto;
    position: relative;
    margin: 0 auto;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 {
    width: 100%;
    height: auto;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .plus-icn {
    vertical-align: top;
    display: table-cell;
    background: url('../images/image-items/plus.png') no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg1 .text-comp {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #2e2b34;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 {
    padding-top: 10px;
    display: table;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg2 .text-comp {
    padding-left: 30px;
    display: table-cell;
    text-align: left;
    font-size: 0.8em;
    line-height: 25px;
    font-weight: bold;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg3 {
    width: 175px;
    height: 5px;
    background: blue;
    z-index: 2;
    position: relative;
  }
  .body-container1728352 .body-wrap2433612 .centering-wrap .column-seg .comp-wrapper .comp-item .box-comp .seg-abs {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #2e2b34;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
  }
  .body-container1728352 .image-wrap23424 {
    width: 100%;
    position: relative;
    display: table;
    height: auto;
    background: #ff0;
    overflow-x: hidden;
  }
  .body-container1728352 .image-wrap23424 .image-item {
    height: 250px;
    display: table-cell;
    background-size: 250!important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 450px;
    overflow-x: hidden;
  }
  .body-container1728352 .carousel-wrap .item {
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 450px;
    background-size: 450 !important;
    background-position: center top !important;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    display: table;
    text-align: center;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap {
    vertical-align: middle;
    display: table-cell;
  }
  .body-container1728352 .carousel-wrap .navi-carousel-wrap .centering-wrap .navi-item {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    background: red;
    height: 10px;
  }
  .body-container1728352 .email-wrap {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #282828;
  }
  .body-container1728352 .email-wrap .email-form {
    width: 100%;
    max-width: 1029px;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .body-container1728352 .email-wrap .email-form .table-cell {
    display: inline-block;
    width: 100%;
    height: 100px;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .table-cell2 {
    display: inline-block;
    height: 100px;
    width: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .email-wrap .email-form .centering {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .body-container1728352 .email-wrap .email-form .centering .text1 {
    display: block;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .text2 {
    display: block;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 10px;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: #2196F3;
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .input-email:focus {
    outline: none;
    color: #2196F3;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-webkit-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-moz-placeholder {
    /* older Firefox*/
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering ::-moz-placeholder {
    /* Firefox 19+ */
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering :-ms-input-placeholder {
    background: none;
    border: none;
    color: #2196F3;
    font-weight: bold;
    font-style: italic;
  }
  .body-container1728352 .email-wrap .email-form .centering .btn-suscribe {
    border: none;
    height: auto;
    background: #2196F3;
    color: #fff;
    font-size: 1.01em;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap2 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .email-wrap .email-form .form-wrap3 {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
  }
  .body-container1728352 .info-wrap {
    width: 100%;
    position: relative;
    display: block;
  }
  .body-container1728352 .info-wrap .info-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1029px;
    text-align: left;
  }
  .body-container1728352 .info-wrap .info-content .twitter-wrap {
    width: 100%;
    display: inline-block;
    height: 300px;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap {
    padding-left: 0;
    width: 100%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-normal {
    margin: 20px;
    font-size: 1.7em;
    font-weight: bold;
    color: #282828;
    display: block;
    line-height: 36px;
  }
  .body-container1728352 .info-wrap .info-content .info-wrap .span-big {
    margin: 20px;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    color: #282828;
  }
  .body-container1728352 .created-wrap {
    width: 100%;
    display: table;
    height: 75px;
    background: #2e2b34;
    text-align: center;
  }
  .body-container1728352 .created-wrap .create-content {
    display: table-cell;
    vertical-align: middle;
  }
  .body-container1728352 .created-wrap .create-content span {
    font-weight: bold;
    color: #80868c;
    font-size: 1.05em;
  }
}
