/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding-top: 0px;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
@media only screen and (max-width: 1900px) {
  .body23482938 {
    visibility: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .body23482938 {
    width: 100%;
    visibility: visible;
  }
  .body23482938 .caution-promo-wrapper {
    width: 100%;
    background: #ff0;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 480px) {
  .body23482938 {
    font-family: 'Bubblegum Sans', cursive;
    width: 100%;
    visibility: visible;
    color: #757575;
    flex-direction: column;
    display: flex;
  }
  .body23482938 .caution-promo-wrapper {
    width: 100%;
    background: #72d8c4;
    display: flex;
    flex-direction: column;
  }
  .body23482938 .caution-promo-wrapper .quote-promo {
    flex-direction: row;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .body23482938 .caution-promo-wrapper .quote-promo .bold {
    font-weight: bold;
  }
  .body23482938 .caution-promo-wrapper .quote-promo .tiny-icn {
    width: 20px;
    height: 20px;
  }
  .body23482938 .caution-promo-wrapper .quote-promo .car {
    background: url('../images/icons/car-wash.png') no-repeat;
    background-position: center;
    background-size: 15px;
  }
  .body23482938 .header-wrapper {
    width: 100%;
    flex-direction: row;
    display: flex;
    max-height: 500px;
    overflow: hidden;
    position: relative;
  }
  .body23482938 .header-wrapper .img-background {
    width: 600px;
    height: 500px;
    background-size: cover !important;
    background-position: center !important;
  }
  .body23482938 .header-wrapper .welcome-banner {
    width: 250px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background-size: 250px !important;
    background-position: center !important;
  }
  .body23482938 .body-wrapper {
    width: 100%;
    flex-direction: column;
    display: flex;
    overflow: hidden;
  }
  .body23482938 .body-wrapper .produk-item {
    width: 100%;
    flex-direction: row;
    display: flex;
    position: relative;
  }
  .body23482938 .body-wrapper .produk-item .img-produk-item {
    width: 100%;
    height: 300px;
    background-size: 100% !important;
    background-position: center !important;
  }
  .body23482938 .body-wrapper .produk-item .title-wrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    color: #fff;
  }
  .body23482938 .body-wrapper .produk-item .title-wrapper .title-produk {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .body23482938 .body-wrapper .produk-item .title-wrapper .price-produk {
    font-size: 1.2em;
  }
  .body23429281 {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .body23429281 .header-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .body23429281 .header-wrapper .header-background {
    width: 700px;
    height: 400px;
    background: url('../images/image-items/header_bg.png') no-repeat;
    background-size: 700px;
    background-position: center;
  }
  .body23429281 .header-wrapper .shadow-background {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
  }
  .body23429281 .header-wrapper .title-restaurant {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
  }
  .body23429281 .header-wrapper .logo-icon {
    width: 250px;
    height: 150px;
    background: url('../images/image-items/foodavius_logo.png') no-repeat;
    background-size: 250px;
    background-position: center;
  }
  .body23429281 .header-wrapper .title-text {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: #fff;
  }
  .body23429281 .body-wrapper .ourmenus {
    flex-direction: column;
    display: flex;
    width: 100%;
    color: #757575;
    text-align: center;
  }
  .body23429281 .body-wrapper .ourmenus .title {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .body23429281 .body-wrapper .ourmenus .deskrip {
    line-height: 1.2em;
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
  }
  .body23429281 .body-wrapper .produk-wrapper {
    flex-direction: column;
    display: flex;
  }
  .body23429281 .body-wrapper .produk-wrapper .produk-item {
    width: 100%;
    flex-direction: column;
    display: flex;
    color: #757575;
  }
  .body23429281 .body-wrapper .produk-wrapper .produk-item .img-produk {
    width: 250px;
    height: 200px;
    background-size: 250px !important;
    background-position: center !important;
  }
  .body23429281 .body-wrapper .produk-wrapper .produk-item .produk-name {
    font-size: 1.2em;
    padding-bottom: 10px;
  }
  .body23429281 .body-wrapper .produk-wrapper .produk-item .deskrip {
    font-size: 1.0em;
    padding-bottom: 10px;
  }
  .body23429281 .body-wrapper .produk-wrapper .produk-item .price {
    font-size: 1.3em;
    padding-bottom: 10px;
  }
}
