@media only screen and (max-width : 1900px) {
    
}

@media only screen and (max-width : 1360px) {
    .main-wrapper23512{
        width: 100%;
        position: relative;
        .menu-static{
            position: static;
            height: 75px;
            width: 100%;
            display: flex;
            flex-direction: row;
            
            .menu-wrap{
                flex-direction: row;
                display: flex;
                height: 100%;
            }
            
        }
        .header-wrap{
            
            position: static;
            height: 400px;
            width: 100%;
            background: #000;
        }
        
    }
}

@media only screen and (max-width: 480px) {
    
}