@import "lesshat.less";
@media only screen and (max-width : 1900px) {
    
}

@media only screen and (max-width : 1360px) {
    .header-container423424{
        height: 700px;
        width: 100%;
        position: relative;
        font-family: 'Oxygen', sans-serif !important;
       .header-wrap095145{
            position: relative;
            width: 100%;
            height: 100%;
            background: url('.././images/image-items/header_bg2.png');
            background-size: 100% 100%;
            background-position: top bottom;
            flex-direction: column;
            display: flex;
            padding-left: 30px;
            padding-right: 30px;
            .menu-container{
                width: 600px;
                height: 65px;
                flex-direction: row;
                display: flex;
                margin-top: 50px;
                border-width: 4px;
                border-style: solid;
                border-color: #2e2b34;
                position: relative;
                z-index: 2;
                .menu-wrap{
                    flex-direction: row;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                }
                .menu-wrap div{
                    height: 100%;
                    flex-direction: column;
                    display: flex;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                
                .padding-right{
                    padding-right: 30px;
                }
                
                .padding-left{
                    padding-left: 30px;
                }
                
                .logo-wrap{
                    width: 400px;
                    flex-direction: row;
                    display: flex;
                    height: 100%;
                    background: #2e2b34;
                    .wrap-logo{
                        display: table;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        text-align: center;
                        .logo-text{
                            display: table-cell;
                            vertical-align: middle;
                            color: #fff;
                            font-weight: normal;
                            font-size: 1.5em;
                        }
                    }
                }
                
            }
            .welcome-container{
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                flex-direction: column;
                display: flex;
                
                .title{
                    font-size: 1.9em;
                    line-height: 100px;
                    color: #fff;
                }
                .btn-more{
                    margin: 20px;
                    border:none;
                    height: auto;
                    background:#2196F3;
                    color: #fff;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 1.01em;
                    border-radius: 3px;
                }
            }
        } 
    }
    
    .body-container1728352{
        height: auto;
        width: 100%;
        position: relative;
        font-family: 'Oxygen', sans-serif !important;
        .body-wrap{
            position: relative;
            width: 100%;
            height: 500px;
            background: #282828;
            flex-direction: column;
            display: flex;
            .what-job-title{
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
                padding:20px;
            }
            .desk-job-title{
                width: 700px;
                text-align: center;
                color:#BDBDBD;
                font-size: 1.09em;
                padding:20px;
            }
            .skill-wrap-title{
                flex-direction: row;
                display: flex;
                .app-item{
                    background: url('.././images/image-items/app_img.png') no-repeat;
                    background-size: 100%;
                }
                .web-item{
                    background: url('.././images/image-items/web_img.png') no-repeat;
                    background-size: 100%;
                }
                 .brand-item{
                    background: url('.././images/image-items/brand_img.png') no-repeat;
                    background-size: 100%;
                }
                .skill-item{
                    margin: 20px;
                    width: 200px;
                    height: 200px;
                }
            }
        }
        .body-wrap2433612{
            width: 100%;
            height: 700px;
            position: relative;
            margin: 0 auto;
            display: table;
            .centering-wrap{
                text-align: center;
                vertical-align: middle;
                width: 100%;
                display: table-cell;
                .column-seg{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                    margin-bottom: 50px;
                    .title-component{
                        font-size: 1.9em;
                    }
                    .deskrip-component{
                        margin: 0 auto;
                        display: block;
                        font-size: 1.09em;
                        max-width: 600px;
                        width: 100%;
                        padding-left: 50px;
                        padding-right: 50px;
                    }
                    .comp-wrapper{
                        margin: 0 auto;
                        display: table;
                        height: auto;
                        .comp-item{
                            padding: 10px;
                            width: 24.9%;
                            height: auto;
                            vertical-align: top;
                            display: table-cell;
                            .box-comp{
                                display: block;
                                width: 200px;
                                height: 200px;
                                position: relative;
                                .seg1{
                                    width: 100%;
                                    height: auto;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .plus-icn{
                                        vertical-align: top;
                                        display: table-cell; 
                                        background: url('.././images/image-items/plus.png') no-repeat;
                                        background-position: center;
                                        background-size: 20px;
                                        width: 20px;
                                        height: 20px;
                                    }
                                    .text-comp{
                                        padding-left: 10px;
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: left;
                                        color: #2e2b34;;
                                        font-weight: bold;
                                        
                                    }
                                }
                                .seg2{
                                    padding-top: 10px;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .text-comp{
                                        padding-left: 30px;
                                        display: table-cell;
                                        text-align: left;
                                        font-size: 0.8em;
                                        line-height: 25px;
                                        font-weight: bold;
                                    }
                                   
                                }
                                .seg3{
                                    width: 175px;
                                    height: 5px;
                                    background: blue;
                                    z-index: 2;
                                    position: relative;
                                }
                                .seg-abs{
                                    position: absolute;
                                    width: 100px;
                                    height: 100px;
                                    background: #2e2b34;
                                    right: 0;
                                    bottom: 0;
                                    z-index: 0;
                                    opacity: 0.1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .image-wrap23424{
            width: 100%;
            position: relative;
            display: table;
            height: auto;
            background: #ff0;
            overflow-x: hidden;
            .image-item{
                height: 250px;
                display: table-cell;
                background-size: 250!important;
                background-position: center top !important; 
            }
        }
        .carousel-wrap{
            width: 100%;
            position: relative;
            left: 0;
            top:0;
            display: block;
            height: 450px;
            overflow-x: hidden;
            
            .item{
                width: 100%;
                display: inline-block;
                position: absolute;
                height: 450px;
                background-size: 450 !important;
                background-position: center top !important;
            }
            
            .navi-carousel-wrap{
                width: 100%;
                position: absolute;
                height: 100px;
                bottom: 0;
                display: table;
                text-align: center;
                .centering-wrap{
                    vertical-align: middle;
                    display: table-cell;
                    .navi-item{
                        width: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        background: red;
                        height: 10px;
                    }
                }
            }
        }
        
        .email-wrap{
            display: block;
            margin:0 auto;
            width: 100%;
            height: auto;
            background: #282828;
            .email-form{
                width: 100%;
                max-width: 1029px;
                display: block;
                height: 100%;
                margin: 0 auto;
                display: table;
                position: relative;
                .table-cell{
                    display: table-cell;
                    height: 100px;
                    vertical-align: middle;
                    
                }
                .table-cell2{
                    display: table-cell;
                    height: 100px;
                    width: 100%;
                    vertical-align: middle;
                }
                
                .centering{
                    height: 100%;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                        
                    .text1{
                        display: block;
                        font-size: 1.2em;
                        color: #fff;
                        font-weight: bold;
                        padding-left: 10px;
                    }
                    .text2{
                        display: block;
                        font-style: italic;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.1em;
                        padding-left: 10px;
                    }
                    .input-email{
                        width: 70%;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-size: 1.7em;
                        font-weight: bold;
                        font-style: italic;
                    }
                    .input-email:focus{
                        outline: none;
                        color: #2196F3;
                    }
                    
                    ::-webkit-input-placeholder {
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    :-moz-placeholder { /* older Firefox*/
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */ 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    } 
                    :-ms-input-placeholder { 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }

                    
                    .btn-suscribe{
                        border:none;
                        height: auto;
                        background:#2196F3;
                        color: #fff;
                        font-size: 1.01em;
                        width: 147px;
                        height: 100%;
                        padding-left: 20px;
                        padding-right: 20px;
                        text-align: center;
                    }
                }
                
                .form-wrap{
                    height: 100%;
                    width: 250px;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap2{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap3{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
            }
        }
        
        .info-wrap{
            width: 100%;
            position: relative;
            display: block;
            
            .info-content{
                display: table;
                margin: 0 auto;
                width: 100%;
                height: 400px;
                max-width: 1029px;
                text-align: left;
                
                .twitter-wrap{
                    width: 50%;
                    display: table-cell;
                    height: 100%;
                }
                
                .info-wrap{
                    padding-left: 30px;
                    width: 50%;
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;
                    .span-normal{
                        margin: 20px;
                        font-size: 1.9em;
                        font-weight: bold;
                        color: #282828;
                        display: block;
                        line-height: 36px;
                    }
                    .span-big{
                        margin: 20px;
                        display: block;
                        font-size: 3.5em;
                        font-weight: bold;
                        color: #282828;
                    }
                }
            }
        }
        .created-wrap{
            width: 100%;
            display: table;
            height: 75px;
            background: #2e2b34;
            text-align: center;
            .create-content{
                    display: table-cell;
                    vertical-align: middle;
                    span{
                        font-weight: bold;
                        color: #80868c;
                        font-size: 1.05em;
                        
                    }
                    
            }
        }
    }
}

@media only screen and (max-width : 895px) {
    .header-container423424{
        position: relative;
        height: 700px;
        background: url('.././images/image-items/header_bg2.png');
        background-size: 100% 100%;
        background-position: top bottom;
        .header-wrap095145{
            display: none;
        }
        .header-wrap-menu2312834{
            position: absolute;
            width: 100%;
            padding: 10px;
            z-index: 0;
            width: 100%;
            height: auto;
            
            .wrap-mobile-menu{
                display: block;
                margin-left: auto;
                width: 50px;
                height: 50px;
                position: relative;
                background: transparent;
                .icon-menu{
                    cursor: pointer;
                    background: url('.././images/image-items/menu.png') no-repeat;
                    background-size: 100%;
                    background-position: top center;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .wrap-content-menu{
                display: block;
                height: auto;
                width: 100%;
                max-width: 700px;
                position: relative;
                margin-left:auto;
                .content-menu{
                    width: 100%;
                    height: 500px;
                    display: none;
                    margin-left: auto;
                    text-align: right;
                    background: #282828;
                    opacity: 0.9;
                    .content-menu-cell{
                        display: table-cell;
                        vertical-align: top;
                        padding: 30px;
                        .menu-item{
                          border-bottom-width: 1px;
                          border-bottom-style: solid;
                          border-bottom-color: #fff;
                          padding-bottom: 10px;
                          padding-top: 20px;
                            font-size: 1.9em;
                            color: #fff;
                            font-weight: bold;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        
        .header-wrap-bg23234234{
            position: absolute;
            width: 100%;
            padding: 10px;
            z-index: 0;
            width: 100%;
            height: 100%;
            .wrap-welcome{
                position: relative;
                display: table;
                text-align: center;
                width: 100%;
                height: 100%;
                .content-welcome{
                    display: table-cell;
                    vertical-align: middle;
                    .welcome-container{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        flex-direction: column;
                        display: flex;
                        
                        .title{
                            font-size: 2.5em;
                            line-height: 59px;
                            color: #fff;
                        }
                        
                        .btn-more{
                            margin: 20px;
                            border:none;
                            height: auto;
                            background:#2196F3;
                            color: #fff;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 1.5em;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    
    .body-container1728352{
        height: auto;
        width: 100%;
        position: relative;
        font-family: 'Oxygen', sans-serif !important;
        .body-wrap{
            position: relative;
            width: 100%;
            height: 500px;
            background: #282828;
            flex-direction: column;
            display: flex;
            
            .what-job-title{
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
                padding:20px;
            }
            .desk-job-title{
                width: 700px;
                text-align: center;
                color:#BDBDBD;
                font-size: 1.09em;
                padding:20px;
            }
            .skill-wrap-title{
                flex-direction: row;
                display: flex;
                .app-item{
                    background: url('.././images/image-items/app_img.png') no-repeat;
                    background-size: 100%;
                }
                .web-item{
                    background: url('.././images/image-items/web_img.png') no-repeat;
                    background-size: 100%;
                }
                 .brand-item{
                    background: url('.././images/image-items/brand_img.png') no-repeat;
                    background-size: 100%;
                }
                .skill-item{
                    margin: 20px;
                    width: 200px;
                    height: 200px;
                }
            }
        }
        .body-wrap2433612{
            width: 100%;
            height: 700px;
            position: relative;
            margin: 0 auto;
            display: table;
            margin-top: 50px;
            margin-bottom: 50px;
            .centering-wrap{
                text-align: center;
                vertical-align: middle;
                width: 100%;
                display: table-cell;
                .column-seg{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                    margin-bottom: 50px;
                    .title-component{
                        font-size: 1.9em;
                    }
                    .deskrip-component{
                        margin: 0 auto;
                        display: block;
                        font-size: 1.09em;
                        max-width: 600px;
                        width: 100%;
                        padding: 0;
                    }
                    .comp-wrapper{
                        margin: 0 auto;
                        display: block;
                        height: auto;
                        .comp-item{
                            margin-bottom: 30px;
                            padding: 10px;
                            width: 30.9%;
                            height: auto;
                            vertical-align: top;
                            display: inline-block;
                            .box-comp{
                                display: block;
                                width: 200px;
                                height: auto;
                                position: relative;
                                margin:0 auto;
                                .seg1{
                                    width: 100%;
                                    height: auto;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .plus-icn{
                                        vertical-align: top;
                                        display: table-cell; 
                                        background: url('.././images/image-items/plus.png') no-repeat;
                                        background-position: center;
                                        background-size: 20px;
                                        width: 20px;
                                        height: 20px;
                                    }
                                    .text-comp{
                                        padding-left: 10px;
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: left;
                                        color: #2e2b34;;
                                        font-weight: bold;
                                        
                                    }
                                }
                                .seg2{
                                    padding-top: 10px;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .text-comp{
                                        padding-left: 30px;
                                        display: table-cell;
                                        text-align: left;
                                        font-size: 0.8em;
                                        line-height: 25px;
                                        font-weight: bold;
                                    }
                                   
                                }
                                .seg3{
                                    width: 175px;
                                    height: 5px;
                                    background: blue;
                                    z-index: 2;
                                    position: relative;
                                }
                                .seg-abs{
                                    position: absolute;
                                    width: 100px;
                                    height: 100px;
                                    background: #2e2b34;
                                    right: 0;
                                    bottom: 0;
                                    z-index: 0;
                                    opacity: 0.1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .image-wrap23424{
            width: 100%;
            position: relative;
            display: table;
            height: auto;
            background: #ff0;
            overflow-x: hidden;
            .image-item{
                height: 250px;
                display: table-cell;
                background-size: 250!important;
                background-position: center top !important; 
            }
        }
        .carousel-wrap{
            width: 100%;
            position: relative;
            left: 0;
            top:0;
            display: block;
            height: 450px;
            overflow-x: hidden;
            
            .item{
                width: 100%;
                display: inline-block;
                position: absolute;
                height: 450px;
                background-size: 450 !important;
                background-position: center top !important;
            }
            
            .navi-carousel-wrap{
                width: 100%;
                position: absolute;
                height: 100px;
                bottom: 0;
                display: table;
                text-align: center;
                .centering-wrap{
                    vertical-align: middle;
                    display: table-cell;
                    .navi-item{
                        width: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        background: red;
                        height: 10px;
                    }
                }
            }
        }
        
        .email-wrap{
            display: block;
            margin:0 auto;
            width: 100%;
            height: auto;
            background: #282828;
            .email-form{
                width: 100%;
                max-width: 1029px;
                display: block;
                height: 100%;
                margin: 0 auto;
                display: table;
                position: relative;
                .table-cell{
                    display: table-cell;
                    height: 100px;
                    vertical-align: middle;
                    
                }
                .table-cell2{
                    display: table-cell;
                    height: 100px;
                    width: 100%;
                    vertical-align: middle;
                }
                
                .centering{
                    height: 100%;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                        
                    .text1{
                        display: block;
                        font-size: 1.2em;
                        color: #fff;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                    .text2{
                        display: block;
                        font-style: italic;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.1em;
                        margin-left: 10px;
                    }
                    .input-email{
                        width: 70%;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-size: 1.7em;
                        font-weight: bold;
                        font-style: italic;
                    }
                    .input-email:focus{
                        outline: none;
                        color: #2196F3;
                    }
                    
                    ::-webkit-input-placeholder {
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    :-moz-placeholder { /* older Firefox*/
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */ 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    } 
                    :-ms-input-placeholder { 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }

                    
                    .btn-suscribe{
                        border:none;
                        height: auto;
                        background:#2196F3;
                        color: #fff;
                        font-size: 1.01em;
                        width: 147px;
                        height: 100%;
                        padding-left: 20px;
                        padding-right: 20px;
                        text-align: center;
                    }
                }
                
                .form-wrap{
                    height: 100%;
                    width: 250px;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap2{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap3{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
            }
        }
        
        .info-wrap{
            width: 100%;
            position: relative;
            display: block;
            
            .info-content{
                display: table;
                margin: 0 auto;
                width: 100%;
                height: 400px;
                max-width: 1029px;
                text-align: left;
                
                .twitter-wrap{
                    width: 50%;
                    display: table-cell;
                    height: 100%;
                }
                
                .info-wrap{
                    padding-left: 30px;
                    width: 50%;
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;
                    .span-normal{
                        margin: 20px;
                        font-size: 1.9em;
                        font-weight: bold;
                        color: #282828;
                        display: block;
                        line-height: 36px;
                    }
                    .span-big{
                        margin: 20px;
                        display: block;
                        font-size: 2.5em;
                        font-weight: bold;
                        color: #282828;
                    }
                }
            }
        }
        .created-wrap{
            width: 100%;
            display: table;
            height: 75px;
            background: #2e2b34;
            text-align: center;
            .create-content{
                    display: table-cell;
                    vertical-align: middle;
                    span{
                        font-weight: bold;
                        color: #80868c;
                        font-size: 1.05em;
                        
                    }
                    
            }
        }
    }
}


@media only screen and (max-width: 695px) {
    .header-container423424{
        position: relative;
        height: 700px;
        background: url('.././images/image-items/header_bg2.png');
        background-size: 100% 100%;
        background-position: top bottom;
        .header-wrap095145{
            display: none;
        }
        .header-wrap-menu2312834{
            position: absolute;
            width: 100%;
            padding: 10px;
            z-index: 0;
            width: 100%;
            height: auto;
            
            .wrap-mobile-menu{
                display: block;
                margin-left: auto;
                width: 50px;
                height: 50px;
                position: relative;
                background: transparent;
                .icon-menu{
                    cursor: pointer;
                    background: url('.././images/image-items/menu.png') no-repeat;
                    background-size: 100%;
                    background-position: top center;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .wrap-content-menu{
                display: block;
                height: auto;
                width: 100%;
                max-width: 700px;
                position: relative;
                margin-left:auto;
                .content-menu{
                    width: 100%;
                    height: 500px;
                    display: none;
                    margin-left: auto;
                    text-align: right;
                    background: #282828;
                    opacity: 0.9;
                    .content-menu-cell{
                        display: table-cell;
                        vertical-align: top;
                        padding: 30px;
                        .menu-item{
                          border-bottom-width: 1px;
                          border-bottom-style: solid;
                          border-bottom-color: #fff;
                          padding-bottom: 10px;
                          padding-top: 20px;
                            font-size: 1.9em;
                            color: #fff;
                            font-weight: bold;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        
        .header-wrap-bg23234234{
            position: absolute;
            width: 100%;
            padding: 10px;
            z-index: 0;
            width: 100%;
            height: 100%;
            .wrap-welcome{
                position: relative;
                display: table;
                text-align: center;
                width: 100%;
                height: 100%;
                .content-welcome{
                    display: table-cell;
                    vertical-align: middle;
                    .welcome-container{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        flex-direction: column;
                        display: flex;
                        
                        .title{
                            font-size: 2.5em;
                            color: #fff;
                        }
                        
                        .btn-more{
                            margin: 20px;
                            border:none;
                            height: auto;
                            background:#2196F3;
                            color: #fff;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 1.5em;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    
    .body-container1728352{
        height: auto;
        width: 100%;
        position: relative;
        font-family: 'Oxygen', sans-serif !important;
        .body-wrap{
            position: relative;
            width: 100%;
            height: 500px;
            background: #282828;
            flex-direction: column;
            display: flex;
            
            .what-job-title{
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
                padding:20px;
            }
            .desk-job-title{
                width: 700px;
                text-align: center;
                color:#BDBDBD;
                font-size: 1.09em;
                padding:20px;
            }
            .skill-wrap-title{
                flex-direction: row;
                display: flex;
                .app-item{
                    background: url('.././images/image-items/app_img.png') no-repeat;
                    background-size: 100%;
                }
                .web-item{
                    background: url('.././images/image-items/web_img.png') no-repeat;
                    background-size: 100%;
                }
                 .brand-item{
                    background: url('.././images/image-items/brand_img.png') no-repeat;
                    background-size: 100%;
                }
                .skill-item{
                    margin: 20px;
                    width: 200px;
                    height: 200px;
                }
            }
        }
        .body-wrap2433612{
            width: 100%;
            height: 700px;
            position: relative;
            margin: 0 auto;
            display: table;
            margin-top: 50px;
            margin-bottom: 50px;
            .centering-wrap{
                text-align: center;
                vertical-align: middle;
                width: 100%;
                display: table-cell;
                .column-seg{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                    margin-bottom: 50px;
                    .title-component{
                        font-size: 1.9em;
                    }
                    .deskrip-component{
                        margin: 0 auto;
                        display: block;
                        font-size: 1.09em;
                        max-width: 600px;
                        width: 100%;
                        padding: 0;
                    }
                    .comp-wrapper{
                        margin: 0 auto;
                        display: block;
                        height: auto;
                        .comp-item{
                            margin-bottom: 30px;
                            padding: 10px;
                            width: 39.9%;
                            height: auto;
                            vertical-align: top;
                            display: inline-block;
                            .box-comp{
                                display: block;
                                width: 200px;
                                height: auto;
                                position: relative;
                                margin:0 auto;
                                .seg1{
                                    width: 100%;
                                    height: auto;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .plus-icn{
                                        vertical-align: top;
                                        display: table-cell; 
                                        background: url('.././images/image-items/plus.png') no-repeat;
                                        background-position: center;
                                        background-size: 20px;
                                        width: 20px;
                                        height: 20px;
                                    }
                                    .text-comp{
                                        padding-left: 10px;
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: left;
                                        color: #2e2b34;;
                                        font-weight: bold;
                                        
                                    }
                                }
                                .seg2{
                                    padding-top: 10px;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .text-comp{
                                        padding-left: 30px;
                                        display: table-cell;
                                        text-align: left;
                                        font-size: 0.8em;
                                        line-height: 25px;
                                        font-weight: bold;
                                    }
                                   
                                }
                                .seg3{
                                    width: 175px;
                                    height: 5px;
                                    background: blue;
                                    z-index: 2;
                                    position: relative;
                                }
                                .seg-abs{
                                    position: absolute;
                                    width: 100px;
                                    height: 100px;
                                    background: #2e2b34;
                                    right: 0;
                                    bottom: 0;
                                    z-index: 0;
                                    opacity: 0.1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .image-wrap23424{
            width: 100%;
            position: relative;
            display: table;
            height: auto;
            background: #ff0;
            overflow-x: hidden;
            .image-item{
                height: 250px;
                display: table-cell;
                background-size: 250!important;
                background-position: center top !important; 
            }
        }
        .carousel-wrap{
            width: 100%;
            position: relative;
            left: 0;
            top:0;
            display: block;
            height: 450px;
            overflow-x: hidden;
            
            .item{
                width: 100%;
                display: inline-block;
                position: absolute;
                height: 450px;
                background-size: 450 !important;
                background-position: center top !important;
            }
            
            .navi-carousel-wrap{
                width: 100%;
                position: absolute;
                height: 100px;
                bottom: 0;
                display: table;
                text-align: center;
                .centering-wrap{
                    vertical-align: middle;
                    display: table-cell;
                    .navi-item{
                        width: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        background: red;
                        height: 10px;
                    }
                }
            }
        }
        
        .email-wrap{
            display: block;
            margin:0 auto;
            width: 100%;
            height: auto;
            background: #282828;
            .email-form{
                width: 100%;
                max-width: 1029px;
                display: block;
                height: 100%;
                margin: 0 auto;
                display: block;
                position: relative;
                .table-cell{
                    display: inline-block;
                    height: 100px;
                    width: 100%;
                    vertical-align: middle;
                    
                }
                .table-cell2{
                    display: inline-block;
                    height: 100px;
                    width: 100%;
                    vertical-align: middle;
                }
                
                .centering{
                    height: 100%;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                        
                    .text1{
                        display: block;
                        font-size: 1.2em;
                        color: #fff;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                    .text2{
                        display: block;
                        font-style: italic;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.1em;
                        margin-left: 10px;
                    }
                    .input-email{
                        width: 70%;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-size: 1.7em;
                        font-weight: bold;
                        font-style: italic;
                    }
                    .input-email:focus{
                        outline: none;
                        color: #2196F3;
                    }
                    
                    ::-webkit-input-placeholder {
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    :-moz-placeholder { /* older Firefox*/
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */ 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    } 
                    :-ms-input-placeholder { 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }

                    
                    .btn-suscribe{
                        border:none;
                        height: auto;
                        background:#2196F3;
                        color: #fff;
                        font-size: 1.01em;
                        width: 100%;
                        height: 100%;
                        padding-left: 20px;
                        padding-right: 20px;
                        text-align: center;
                    }
                }
                
                .form-wrap{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap2{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap3{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
            }
        }
        
        .info-wrap{
            width: 100%;
            position: relative;
            display: block;
            
            .info-content{
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
                max-width: 1029px;
                text-align: left;
                
                .twitter-wrap{
                    width: 100%;
                    display: inline-block;
                    height: 300px;
                }
                
                .info-wrap{
                    padding-left: 0;
                    width: 100%;
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    .span-normal{
                        margin: 20px;
                        font-size: 1.9em;
                        font-weight: bold;
                        color: #282828;
                        display: block;
                        line-height: 36px;
                    }
                    .span-big{
                        margin: 20px;
                        display: block;
                        font-size: 2.5em;
                        font-weight: bold;
                        color: #282828;
                    }
                }
            }
        }
        .created-wrap{
            width: 100%;
            display: table;
            height: 75px;
            background: #2e2b34;
            text-align: center;
            .create-content{
                    display: table-cell;
                    vertical-align: middle;
                    span{
                        font-weight: bold;
                        color: #80868c;
                        font-size: 1.05em;
                        
                    }
                    
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .header-container423424{
        position: relative;
        height: 700px;
        background: url('.././images/image-items/header_bg2.png');
        background-size: 100% 100%;
        background-position: top bottom;
        .header-wrap095145{
            display: none;
        }
        .header-wrap-menu2312834{
            position: absolute;
            width: 100%;
            padding: 10px;
            z-index: 0;
            width: 100%;
            height: auto;
            
            .wrap-mobile-menu{
                display: block;
                margin-left: auto;
                width: 50px;
                height: 50px;
                position: relative;
                background: transparent;
                .icon-menu{
                    cursor: pointer;
                    background: url('.././images/image-items/menu.png') no-repeat;
                    background-size: 100%;
                    background-position: top center;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .wrap-content-menu{
                display: block;
                height: auto;
                width: 100%;
                max-width: 700px;
                position: relative;
                margin-left:auto;
                .content-menu{
                    width: 100%;
                    height: 500px;
                    display: none;
                    margin-left: auto;
                    text-align: right;
                    background: #282828;
                    opacity: 0.9;
                    .content-menu-cell{
                        display: table-cell;
                        vertical-align: top;
                        padding: 30px;
                        .menu-item{
                          border-bottom-width: 1px;
                          border-bottom-style: solid;
                          border-bottom-color: #fff;
                          padding-bottom: 10px;
                          padding-top: 20px;
                            font-size: 1.9em;
                            color: #fff;
                            font-weight: bold;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        
        .header-wrap-bg23234234{
            position: absolute;
            width: 100%;
            padding: 10px;
            z-index: 0;
            width: 100%;
            height: 100%;
            .wrap-welcome{
                position: relative;
                display: table;
                text-align: center;
                width: 100%;
                height: 100%;
                .content-welcome{
                    display: table-cell;
                    vertical-align: middle;
                    .welcome-container{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        flex-direction: column;
                        display: flex;
                        
                        .title{
                            font-size: 2.5em;
                            color: #fff;
                        }
                        
                        .btn-more{
                            margin: 20px;
                            border:none;
                            height: auto;
                            background:#2196F3;
                            color: #fff;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 1.5em;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    
    .body-container1728352{
        height: auto;
        width: 100%;
        position: relative;
        font-family: 'Oxygen', sans-serif !important;
        .body-wrap{
            position: relative;
            width: 100%;
            height: 500px;
            background: #282828;
            flex-direction: column;
            display: flex;
            .what-job-title{
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
                padding:20px;
            }
            .desk-job-title{
                width: 700px;
                text-align: center;
                color:#BDBDBD;
                font-size: 1.09em;
                padding:20px;
            }
            .skill-wrap-title{
                flex-direction: row;
                display: flex;
                .app-item{
                    background: url('.././images/image-items/app_img.png') no-repeat;
                    background-size: 100%;
                }
                .web-item{
                    background: url('.././images/image-items/web_img.png') no-repeat;
                    background-size: 100%;
                }
                 .brand-item{
                    background: url('.././images/image-items/brand_img.png') no-repeat;
                    background-size: 100%;
                }
                .skill-item{
                    margin: 20px;
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .body-wrap2433612{
            width: 100%;
            height: 700px;
            position: relative;
            margin: 0 auto;
            display: table;
            margin-top: 50px;
            margin-bottom: 50px;
            .centering-wrap{
                text-align: center;
                vertical-align: middle;
                width: 100%;
                display: table-cell;
                .column-seg{
                    display: block;
                    margin: 0 auto;
                    width: 86%;
                    height: auto;
                    margin-bottom: 50px;
                    .title-component{
                        font-size: 1.9em;
                    }
                    .deskrip-component{
                        margin: 0 auto;
                        display: block;
                        font-size: 1.09em;
                        max-width: 600px;
                        width: 100%;
                        padding: 0;
                    }
                    .comp-wrapper{
                        margin: 0 auto;
                        display: block;
                        height: auto;
                        .comp-item{
                            margin-bottom: 30px;
                            padding: 10px;
                            width: 100%;
                            height: auto;
                            vertical-align: top;
                            display: inline-block;
                            .box-comp{
                                display: block;
                                width: 70%;
                                height: auto;
                                position: relative;
                                margin:0 auto;
                                .seg1{
                                    width: 100%;
                                    height: auto;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .plus-icn{
                                        vertical-align: top;
                                        display: table-cell; 
                                        background: url('.././images/image-items/plus.png') no-repeat;
                                        background-position: center;
                                        background-size: 20px;
                                        width: 20px;
                                        height: 20px;
                                    }
                                    .text-comp{
                                        padding-left: 10px;
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: left;
                                        color: #2e2b34;;
                                        font-weight: bold;
                                        
                                    }
                                }
                                .seg2{
                                    padding-top: 10px;
                                    display: table;
                                    z-index: 2;
                                    position: relative;
                                    .text-comp{
                                        padding-left: 30px;
                                        display: table-cell;
                                        text-align: left;
                                        font-size: 0.8em;
                                        line-height: 25px;
                                        font-weight: bold;
                                    }
                                   
                                }
                                .seg3{
                                    width: 175px;
                                    height: 5px;
                                    background: blue;
                                    z-index: 2;
                                    position: relative;
                                }
                                .seg-abs{
                                    position: absolute;
                                    width: 100px;
                                    height: 100px;
                                    background: #2e2b34;
                                    right: 0;
                                    bottom: 0;
                                    z-index: 0;
                                    opacity: 0.1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .image-wrap23424{
            width: 100%;
            position: relative;
            display: table;
            height: auto;
            background: #ff0;
            overflow-x: hidden;
            .image-item{
                height: 250px;
                display: table-cell;
                background-size: 250!important;
                background-position: center top !important; 
            }
        }
        .carousel-wrap{
            width: 100%;
            position: relative;
            left: 0;
            top:0;
            display: block;
            height: 450px;
            overflow-x: hidden;
            
            .item{
                width: 100%;
                display: inline-block;
                position: absolute;
                height: 450px;
                background-size: 450 !important;
                background-position: center top !important;
            }
            
            .navi-carousel-wrap{
                width: 100%;
                position: absolute;
                height: 100px;
                bottom: 0;
                display: table;
                text-align: center;
                .centering-wrap{
                    vertical-align: middle;
                    display: table-cell;
                    .navi-item{
                        width: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        background: red;
                        height: 10px;
                    }
                }
            }
        }
        
        .email-wrap{
            display: block;
            margin:0 auto;
            width: 100%;
            height: auto;
            background: #282828;
            .email-form{
                width: 100%;
                max-width: 1029px;
                display: block;
                height: 100%;
                margin: 0 auto;
                display: block;
                position: relative;
                .table-cell{
                    display: inline-block;
                    width: 100%;
                    height: 100px;
                    vertical-align: middle;
                    
                }
                .table-cell2{
                    width: 100%;
                    display: inline-block;
                    height: 100px;
                    width: 100%;
                    vertical-align: middle;
                }
                
                .centering{
                    height: 100%;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                        
                    .text1{
                        display: block;
                        font-size: 1.2em;
                        color: #fff;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                    .text2{
                        display: block;
                        font-style: italic;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.1em;
                        margin-left: 10px;
                    }
                    .input-email{
                        width: 70%;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-size: 1.7em;
                        font-weight: bold;
                        font-style: italic;
                    }
                    .input-email:focus{
                        outline: none;
                        color: #2196F3;
                    }
                    
                    ::-webkit-input-placeholder {
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    :-moz-placeholder { /* older Firefox*/
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */ 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    } 
                    :-ms-input-placeholder { 
                        background: none;
                        border:none;
                        color: #2196F3;
                        font-weight: bold;
                        font-style: italic;
                    }

                    
                    .btn-suscribe{
                        border:none;
                        height: auto;
                        background:#2196F3;
                        color: #fff;
                        font-size: 1.01em;
                        width: 100%;
                        height: 100%;
                        padding-left: 20px;
                        padding-right: 20px;
                        text-align: center;
                    }
                }
                
                .form-wrap{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap2{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
                
                .form-wrap3{
                    height: 100%;
                    width: 100%;
                    display: table;
                    text-align: center;
                }
            }
        }
        
        .info-wrap{
            width: 100%;
            position: relative;
            display: block;
            
            .info-content{
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
                max-width: 1029px;
                text-align: left;
                
                .twitter-wrap{
                    width: 100%;
                    display: inline-block;
                    height: 300px;
                }
                
                .info-wrap{
                    padding-left: 0;
                    width: 100%;
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    .span-normal{
                        margin: 20px;
                        font-size: 1.7em;
                        font-weight: bold;
                        color: #282828;
                        display: block;
                        line-height: 36px;
                    }
                    .span-big{
                        margin: 20px;
                        display: block;
                        font-size: 2.5em;
                        font-weight: bold;
                        color: #282828;
                    }
                }
            }
        }
        .created-wrap{
            width: 100%;
            display: table;
            height: 75px;
            background: #2e2b34;
            text-align: center;
            .create-content{
                    display: table-cell;
                    vertical-align: middle;
                    span{
                        font-weight: bold;
                        color: #80868c;
                        font-size: 1.05em;
                        
                    }
                    
            }
        }
    }
}