<div class="body23482938" layout-align="center start">
    <div class="caution-promo-wrapper" layout-align="center center">
        <div class="quote-promo" layout-align="center center">
            <div class="tiny-icn car"></div>
            <span><span class="bold">Free Shipping</span>&nbsp; on all orders over $100.</span>
        </div>
        <div class="quote-promo" layout-align="center center">
            <div class="tiny-icn car"></div>
            <span><span class="bold">Worldwide Delivery</span>&nbsp; and same day dispatch.</span>
        </div>
        <div class="quote-promo" layout-align="center center">
            <div class="tiny-icn car"></div>
            <span><span class="bold">Receive Gifts</span>&nbsp; when you subscribe.</span>
        </div>
    </div>
    <div class="header-wrapper" layout-align="center center">
        <img class="img-background" style=" background: url('images/image-items/about-compass-lrg.jpg') no-repeat;" />
        <div class="welcome-banner" style=" background: url('images/image-items/welcome-banner-light.png') no-repeat;"></div>
    </div>
    <div class="body-wrapper" layout-align="center start">
        <div class="produk-item" layout-align="center center">
            <div style="background: url('images/image-items/outerwear_img_banner.jpg') no-repeat;" class="img-produk-item"  ></div>
            <div class="title-wrapper" layout-align="center center">
                <span class="title-produk">Outwear black</span>
                <span class="price-produk">Rp. 150.000,00</span>
            
            </div>
        </div>
        <div class="produk-item" layout-align="center center">
            <div style="background: url('images/image-items/accessories_img_banner.jpg') no-repeat;" class="img-produk-item"  ></div>
            <div class="title-wrapper" layout-align="center center">
                <span class="title-produk">Accesories</span>
                <span class="price-produk">Rp. 75.000,00</span>
            
            </div>
        </div>
        <div class="produk-item" layout-align="center center">
            <div style="background: url('images/image-items/shirts_img_banner.jpg') no-repeat;" class="img-produk-item"  ></div>
            <div class="title-wrapper" layout-align="center center">
                <span class="title-produk">Shirt</span>
                <span class="price-produk">Rp. 235.000,00</span>
            
            </div>
        </div>
        <div class="produk-item" layout-align="center center">
            <div style="background: url('images/image-items/footwear_img_banner.jpg') no-repeat;" class="img-produk-item"  ></div>
            <div class="title-wrapper" layout-align="center center">
                <span class="title-produk">Footwear</span>
                <span class="price-produk">Rp. 450.000,00</span>
            
            </div>
        </div>
    </div>
</div>