<div class="body23429281" layout-align="center start">
    <div class="header-wrapper" layout-align="center center">
        <div class="header-background"></div>
        <div class="shadow-background"></div>
        <div class="title-restaurant" layout-align="center center">
            <div class="logo-icon">

            </div>
            <span class="title-text">
                “ Our greatest value is the one that our father said us once, customer is more than your family, is your fortune ”
            </span>
        </div>


    </div>
    <div class="body-wrapper">
        <div class="ourmenus" layout-align="center center">
            <span class="title">OUR MENU</span>
            <span class="deskrip">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsa.
            </span>
        </div>
        <div class="produk-wrapper" layout-align="center start">
            <div class="produk-item" layout-align="center center">
                <div class="img-produk" style="background:url('images/image-items/thumbnail-one.png')no-repeat;"></div>
                <span class="produk-name">Louiz</span>
                <span class="deskrip">This is the best description ever.</span>
                <span class="price">Price: 45$</span>
            </div>
            <div class="produk-item" layout-align="center center">
                <div class="img-produk" style="background:url('images/image-items/thumbnail-one.png')no-repeat;"></div>
                <span class="produk-name">Louiz</span>
                <span class="deskrip">This is the best description ever.</span>
                <span class="price">Price: 45$</span>
            </div>
            <div class="produk-item" layout-align="center center">
                <div class="img-produk" style="background:url('images/image-items/thumbnail-one.png')no-repeat;"></div>
                <span class="produk-name">Louiz</span>
                <span class="deskrip">This is the best description ever.</span>
                <span class="price">Price: 45$</span>
            </div>
            <div class="produk-item" layout-align="center center">
                <div class="img-produk" style="background:url('images/image-items/thumbnail-one.png')no-repeat;"></div>
                <span class="produk-name">Louiz</span>
                <span class="deskrip">This is the best description ever.</span>
                <span class="price">Price: 45$</span>
            </div>

        </div>
    </div>
</div>