<div class="header-container423424" layout-align="center center">
    <div class="header-wrap095145" layout-align="start center">
        <div class="menu-container">
            <div class="menu-wrap padding-right" layout-align="end center">
                <div layout-align="center center">ABOUT</div>
                <div layout-align="center center">SERVICES</div>
            </div>
            <div class="logo-wrap">
                <div class="wrap-logo">
                    <span class="logo-text">
                        ELAPSEA
                    </span>
                </div>
            </div>
            <div class="menu-wrap padding-left" layout-align="start center">
                <div layout-align="center center">PORTFOLIO</div>
                <div layout-align="center center">CONTACT</div>
            </div>
        </div>
        <div class="welcome-container" layout-align="center center">
            <span class="title">WELCOME TO <span style="font-weight:bold; color:#000">ELAPSEA</span></span>
            <button class="btn-more">VIEW PROJECT</button>
        </div>
    </div>
    <!-- menu mobile responsive -->
    <div class="header-wrap-bg23234234">
        <div class="wrap-welcome">
            <div class="content-welcome">
                <div class="welcome-container" layout-align="center center">
                    <span class="title">WELCOME TO <span style="font-weight:bold; color:#000">ELAPSEA</span></span>
                    <button class="btn-more">VIEW PROJECT</button>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrap-menu2312834">
        <div class="wrap-mobile-menu">
            <div class="icon-menu" ng-click="clickmenu()"></div>

        </div>
        <div class="wrap-content-menu">
            <div class="content-menu">
                <div class="content-menu-cell">
                    <div class="menu-item">ABOUT</div>
                    <div class="menu-item">SERVICE</div>
                    <div class="menu-item">PORTFOLIO</div>
                    <div class="menu-item">CONTACT</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="body-container1728352">
    <div class="body-wrap" layout-align="center center">
        <span class="what-job-title">WHAT WE <span style="color:#039BE5">CREATED</span></span>
        <span class="desk-job-title">
            Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum. 
        </span>
        <div class="skill-wrap-title" layout-align="center center">
            <div class="skill-item app-item"></div>
            <div class="skill-item web-item"></div>
            <div class="skill-item brand-item"></div>
        </div>
    </div>

</div>
<div class="body-container1728352">
    <div class="body-wrap2433612">
        <div class="centering-wrap">
            <div class="column-seg">
                <span class="title-component">PROJECT <span style="color:#039BE5">COMPONENTS</span></span>
            </div>
            <div class="column-seg">
                <span class="deskrip-component">
                    Each of our prjects involve the following stages of creation process. Elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum. 
                </span>
            </div>
            <div class="column-seg">
                <div class="comp-wrapper">
                    <div class="comp-item">
                        <div class="box-comp">
                            <div class="seg1">
                                <div class="plus-icn"></div>
                                <span class="text-comp">PROJECT WEB</span>
                            </div>
                            <div class="seg2">
                                <span class="text-comp">
                                    Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare.
                                </span>
                            </div>
                            <div class="seg3"></div>
                            <div class="seg-abs"></div>
                        </div>
                    </div>
                    <div class="comp-item">
                        <div class="box-comp">
                            <div class="seg1">
                                <div class="plus-icn"></div>
                                <span class="text-comp">PROJECT WEB</span>
                            </div>
                            <div class="seg2">
                                <span class="text-comp">
                                 Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare.  </span>
                            </div>
                            <div class="seg3"></div>
                            <div class="seg-abs"></div>
                        </div>
                    </div>
                    <div class="comp-item">
                        <div class="box-comp">
                            <div class="seg1">
                                <div class="plus-icn"></div>
                                <span class="text-comp">PROJECT WEB</span>
                            </div>
                            <div class="seg2">
                                <span class="text-comp">
                                    Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare.
                                Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare.
                                </span>
                            </div>
                            <div class="seg3"></div>
                            <div class="seg-abs"></div>
                        </div>
                    </div>
                    <div class="comp-item">
                        <div class="box-comp">
                            <div class="seg1">
                                <div class="plus-icn"></div>
                                <span class="text-comp">PROJECT WEB</span>
                            </div>
                            <div class="seg2">
                                <span class="text-comp">
                                    Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare.
                                </span>
                            </div>
                            <div class="seg3"></div>
                            <div class="seg-abs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-container1728352">
    <div class="image-wrap23424">
        <div class="image-item" style="background: url('images/image-items/other_img1.png') no-repeat;"></div>
        <div class="image-item" style="background: url('images/image-items/other_img2.png') no-repeat;"></div>
        <div class="image-item" style="background: url('images/image-items/other_img3.png') no-repeat;"></div>
        <div class="image-item" style="background: url('images/image-items/other_img4.png') no-repeat;"></div>
        <div class="image-item" style="background: url('images/image-items/other_img5.png') no-repeat;"></div>
    </div>
</div>
<div class="body-container1728352">
    <div class="carousel-wrap">
        <!--images/image-items/carousel_bg.png-->
        <div class="item" id="{{image.id}}" ng-repeat="image in mycarousel" style=" background:url('{{image.url}}') no-repeat; left:{{image.left}}%;"></div>
        <div class="navi-carousel-wrap">
            <div class="centering-wrap">
                <div class="navi-item"></div>
                <div class="navi-item"></div>
                <div class="navi-item"></div>
            </div>
        </Div>
    </div>
</div>
<div class="body-container1728352">
    <div class="email-wrap">
        <div class="email-form">
            <div class="table-cell">
                <div class="form-wrap">
                    <div class="centering">
                        <span class="text1">GET NOTIFIED</span>
                        <span class="text2">regarding latest researches</span>
                    </div>
                </div>
            </div>
            <div class="table-cell2">
                <div class="form-wrap2">
                    <div class="centering">
                        <input type="text" class="input-email" placeholder="your email here" />
                    </div>
                </div>
            </div>
            <div class="table-cell">
                <div class="form-wrap3">
                    <div class="centering">
                        <button class="btn-suscribe">
                            SUBSCRIBE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-container1728352">
    <div class="info-wrap">
        <div class="info-content">
            <div class="twitter-wrap"></div>
            <div class="info-wrap">
                <span class="span-normal">
                    1370 Brooklyn, Suite 131</br>
                    New York, NY 31480
                </span>
                <span class="span-big">  
                    351 - 675 - 0730
                </span>
                <span class="span-normal">
                    info@alipsea.com</br>
                    partnership@alipsea.com
                </span>
            </div>
        </div>
    </div>
</div>

<div class="body-container1728352">
    <div class="created-wrap">
        <div class="create-content">
            <span>© Alipsea, 2014. All rights reserved. Done by Olia Gozha</span>
        </div>
    </div>
</div>